<!doctype HTML>
<html>
<head>

<title> Admikaer Roboto server</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
<style>
    html{
        padding:20px;
    }
</style>
<meta http-equiv="refresh" content="5" >

</head>
<body>
    <nav ></nav>
    <div class="ips">
        <h1> Robots </h1>
        <ul>
        {% for r in robots %}
            <li>{{r.name}} ( {{r.ip}} ) 
                    <a href="/sendgo/{{r.ip}}" class="button is-small is-primary">GO !</a>
                    <a href="/sendstop/{{r.ip}}" class="button is-small is-danger is-primary">STOP </a>
            </li>
        {% endfor %}
        </ul>

    </div>
    <hr>
    <div class="buttons">
         
     <a href="/sendall/f" class="button is-primary">Send GO All Robots</a>
     <a href="/sendall/X" class="button is-danger is-primary">Send STOP All Robots</a>
          </div>
</body>


</html>
