<!doctype HTML>
<html>
<head>

<title> Admikaer Roboto server</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
<style>
    html{
        padding:20px;
    }
</style></head>
<body>
    <nav ></nav>
    <div class="buttons">
        <a href="/sendgo1" class="button is-primary">Send Robot1</a>
        <a href="/sendgo2" class="button is-primary">Send Robot2</a>
        <a href="/sendgoall" class="button is-primary">Send All Robots</a>
      
        <a href='http://ip.du.robot.1/go' >Go robot1 </a>
    </div>
</body>


</html>
